/* resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-VariableFont_wdth\,wght.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body.fade {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
body.fade-out {
  opacity: 0;
}
main {
  flex: 1;
  background-color: rgba(240, 247, 250, 0.945);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20vh 60vh 20vh;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding:10px;
}
.return{
  align-self: flex-start;
  margin-right: auto;
  padding: 10px 20px;
}
.div-container {
  grid-column: 2/3;
  width: clamp(300px,30vw,500px);
  height: clamp(300px,30vw,500px);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-shrink: 0; 
  justify-self: center;
}
.row-container {
  display: flex;
  flex: 1;
}
h2{
  font-size: 2rem;
}
.display{
  width: clamp(300px,30vw,500px);
  padding:20px;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}
.homeButton{
  width: clamp(150px,15vw,250px);
  padding:10px 20px;
}




