/* resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-VariableFont_wdth\,wght.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body.fade {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
body.fade-out {
  opacity: 0;
}
main {
  flex: 1;
  background-color: #242423;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20vh 60vh 20vh;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color:#E8EDDF;
}
.returnButton{
  grid-column: 1/2;
  grid-row:1/2;
  align-self: flex-start;
  margin-right: auto;
  padding: 10px 20px;
}
.div-container {
  grid-column: 2/3;
  grid-row: 2/3;
  width: clamp(300px,30vw,500px);
  height: clamp(300px,30vw,500px);
  background-color: #333533;
  border: 1px solid #F5CB5C;
  text-shadow: 0 0 3px #F5CB5C, 0 0 6px #F5CB5C, 0 0 12px #F5CB5C;
  display: flex;
  font-size:4rem;
  flex-direction: column;
  flex-shrink: 0; 
  justify-self: center;
}

.row-container {
  display: flex;
  flex: 1;
}
.player1ScoreContainer{
  grid-column: 1/2;
}
.player2ScoreContainer{
  grid-column: 3/4;
}
.player1ScoreContainer,.player2ScoreContainer{
  width: clamp(300px,30vw,500px);
  height: clamp(300px,30vw,500px);
  text-align: center;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  gap:10rem;
}
.scoreCounterContainer1,.scoreCounterContainer2{
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-color: #333533;
  gap:1rem;
  padding: 2rem;
  border-radius: 20px;
  border: 1px solid #F5CB5C;
}
.player1Name, .player2Name{
  background-color: #333533;
  border: 1px solid #F5CB5C;
  padding:2rem;
  border-radius: 20px;
}
h2{
  font-size: 2rem;
}
.display{
  grid-column: 2/3;
  grid-row: 1/2;
  width: clamp(300px,30vw,500px);
  padding:20px;
  border: 1px solid #F5CB5C;
  background-color: #333533;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}
.homeButton{
  width: clamp(150px,15vw,250px);
  padding:10px 20px;
}
.newRoundButton{
  grid-column: 2/3;
}
.invisible{
  display: none;
}
button{
  background-color: #333533;
  color: white;
  padding:2rem;
  border-radius: 20px;
  border: 1px solid #F5CB5C;
}




