/* resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body.fade {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
body.fade-out {
  opacity: 0;
}
header, footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 10vh;
  background-color: #333533;
  padding: clamp(1rem,2vh,1.5rem) 0;
  color:#F5CB5C;
}
header{
  border-bottom: 1px solid #CFDBD5;
}
header h1{
  font-size: clamp(50px,7vh,100px);
  letter-spacing: 0;
  line-height: 1;
}

main {
  flex: 1;
  background-color: #242423;
  display: flex;
  align-items: center;
  justify-content: center;
}

form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap:clamp(10px,5vh,100px);
width: clamp(250px,25vw,350px);
height: clamp(fit-content,35vh,450px);
padding:50px 0;
border:1px solid #F5CB5C;
border-radius: 1rem;
color: #E8EDDF;
}
input,button{
    width: clamp(100px,15vw,200px);
    display: block;
}
label {
    width: clamp(100px,15vw,200px);
    text-align: center;
}

label input {
    margin-top: 1rem; 
}
button{
    align-self: center;
    width: 100px;
    padding:15px 5px;
}

h2{
  font-size: 2rem;
}

footer {
  flex: 0 0 5vh;
  border-top: 1px solid #CFDBD5
}
